@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;900&display=swap');

*{
  margin: 0;
  padding: 0;
}

html, body{
  background-color: #0d2c35;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}


/* Nav _______________________________________________________*/
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .75rem;
}
.signup-btn{
  font-family: 'Nunito Sans', sans-serif;
  height: max-content;
  padding: .75rem 1.25rem;
  border-radius: 1rem;
  border-width: 1px;
  background-color: transparent;
  color: #F7F6F2;
}
  .signup-btn:hover{
    cursor: pointer;
    background-color: #F7F6F2;
    color: #0d2c35;
  }
  .signup-btn:active{
    box-shadow: inset 1px 1px 2px 1px #0d2c35;
  }
/* Nav _______________________________________________________*/



/* header _______________________________________________________*/
.banner-img {
  max-width: 100%;
}
.banner-text {
  padding: 0 .5rem;
}
  .banner-text-heading {
    text-align: center;
  }
  .banner-text-body {
    text-align: justify;
  }
/* header _______________________________________________________*/



/* Testimonials _______________________________________________________*/
.Testimonials{
  width: 100%;
  color: #0d2c35;
  background-color: #2dd377;
  box-shadow: inset 0px 1px 3px 1px #260b04d1;
  border-radius: 3px;
  background-image: url('./img/overl.png');
  background-size: contain;
  background-blend-mode: multiply;
}
  .Testimonials-heading {
    text-align: center;
    padding-top: 1rem;
  }
  .testimonials-main{
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
  }
    .testimonial{
      width: 100%;
      flex: 1 0 100%;
      scroll-snap-align: start;
      padding: .75rem 1.5rem;
      box-sizing: border-box;
    }
      .testimonial-text {
        text-align: justify;
        font-size: .9rem;
      }
      .testimonials-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 .5rem;
      }
      .testimonials-details-text {
        line-height: .7rem;
        font-size: .8rem;
      }
        .testimonials-details-name {
          font-weight: 900;
        }
      .testimonials-img {
        width: 3rem;
        border-radius: 1.5rem;
      }
/* Testimonials _______________________________________________________*/